*{
    padding: 0%;
    border: 0;
    box-sizing: border-box;
}
.listanavbar{
    background-color: rgb(29, 84, 84);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.lilista{    
    text-transform: uppercase;
    font-size: 4rem;
}
.btn{
    color: rgb(68, 140, 140);
    font-size: 2rem;

}
